* {
    margin: 0;
    padding: 0;
}
.sessao1{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(3px);
    margin-top: 5rem;
}
caption {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px ;
}
#tabela-colaboradores {
    border-collapse: collapse;
    background-color: rgba(180, 235, 236, 0.61);
    border-radius: 0px 0px 10px 10px;
}
th{
    padding: .3rem;
    font-size: 20px;
    border-top: 1px solid rgb(1, 10, 56);
    border-bottom: 1px solid gray;
}
td {
    border-left: 1px solid rgb(236, 229, 229);
    padding: .2rem .3rem;
    font-size: 18px;
    text-align: center;
    text-wrap: nowrap;
    width: auto;
}
tbody >tr:nth-child(odd){
    background-color: rgba(148, 146, 146, 0.719);
}
.controle {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    width: max-content;
    margin-bottom: 1rem;
}
input {
    padding: 5px;
    width: 100%;
    accent-color: blue;
}
.atribuicao {
    margin: 1rem;
}
.condicoes {
    display: flex;
    align-items: center;
    justify-content: center;
}
section >button {
    margin: 1rem auto;
    display: block;
    padding: 4px 1rem;
}
body > button {
    border: none;
    border-radius: 0 5px 5px 0;
    margin: auto;
    padding: 1rem 2rem;
    background-color: cadetblue;
}
@media (max-width:950px) {
    .sessao1 {
        display: flex;
        flex-direction: column;
    }
    .container-tabela {
        width: 100%;
        max-width: 22rem;
        overflow: auto;
        border-radius: 10px 10px 0px 0px;
        margin: 3rem auto;
    }
    #tabela-colaboradores {
        border-collapse: collapse;
        background-color: rgba(180, 235, 236, 0.61);
        border-radius: 0px 0px 10px 10px;
        width: 100%;
    }
    td {
        padding: .2rem .1rem;
        font-size: 14px;
        text-align: center;
    }
    th{
        padding: .3rem;
        font-size: 16px;
        border-top: 1px solid rgb(1, 10, 56);
        border-bottom: 1px solid gray;
    }
    .visu-doc:active {
        transform: scale(220%) translate(-115%, -23%);
        border-radius: 5px;
    }
}