* {
    margin: 0%;
    padding: 0%;
}
.nav {
    background-color: black;
    position: fixed;
    left: -10rem;
    top: 0;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s all;
}
.nav.ativo {
    left: 0;
}
.list-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    margin: auto;
}
.list-nav > li {
    list-style-type: none;
    padding: .5rem;
    border-radius: 30em;
    cursor: pointer;
    margin: 1rem auto;
}
.list-nav > li a {
    font-family: sans-serif;
    text-decoration: none;
    padding: .5rem;
    font-size: 18px;
    color: rgb(150, 250, 0);
    text-shadow: 0px 1px 2px rgb(108, 179, 2), 0px 1px 4px rgb(167, 252, 40), 0px 1px 6px rgb(186, 243, 99);
}
.botao {
    display: block;
    border: none;
    background: none;
    border-top: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 999;
}
.botao::after,
.botao::before {
    content: "";
    width: 30px;
    height: 3px;
    margin-top: .5rem;
    display: block;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: relative;
    transition: .5s;
}
.nav.ativo .botao::after {
    transform: rotate(135deg);
    background-color: rgb(51, 255, 0);
    box-shadow: 0px 1px 2px rgb(108, 179, 2), 0px 1px 4px rgb(167, 252, 40), 0px 1px 6px rgb(186, 243, 99);
}
.nav.ativo .botao::before {
    transform: rotate(-135deg);
    background-color: rgb(51, 255, 0);
    box-shadow: 0px 1px 2px rgb(108, 179, 2), 0px 1px 4px rgb(167, 252, 40), 0px 1px 6px rgb(186, 243, 99);
    top: 10px;
}
.nav.ativo .botao {
    border-top-color: transparent;
    border-radius: 10px;
}

/* header */
.conteudo.ativo {
    width: calc(100% - 8rem);
    height: 100vh;
    float: right;
    z-index:-1;
    transition: 1.5s;
}
.cabeca {
    width:100%;
    height: 100vh;
    float: right;
    z-index:-1;
    background-color: aquamarine;
}
.corpo {
    width:100%;
    height: 100vh;
    float: right;
    z-index:-1;
    background-color: rgb(206, 255, 127);
}