@charset "UTF-8";
body {
    background-color: cadetblue;
    filter: blur(2px);
}
div {
    background-color: brown;
    width: 70%;
    margin: auto;
}
form { 
    margin: auto;
    width: 70%;
    background-color: chartreuse;
}
fieldset {
    font-size: 20px;
}
label, input {
    display: block;
}
label {
    margin: 3% auto auto auto;
}
input {
    font-size: 14px;
}
#iCNPJ, #iCPF, #pessoaF, #pessoaJ {
    display: inline-block;
}
legend {
    font-size: 35px;
    color: rgb(82, 0, 0);
}