* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* Começo menu Hamburguer header */
a {
    text-decoration: none;
    font-family: sans-serif;
}
.header {
    background-color: #a5c;
    padding-inline: 16px;
}
.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-list  a {
    font-size: clamp(.8rem, 2.5vw, 1.5rem);
    color: white;
    padding-block: 16px;
}
.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}
/* Final menu Hamburguer */
/* Começo main */
.hero {
    background: center / cover no-repeat rgb(163, 243, 216);
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-image: url(imagens/bg-main.jpg);
    background-size: cover;
}
.introducao {
    width: 70%;
    justify-self: center;
    position: relative;
}
.introducao > h1 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.introducao > p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
}
/* Fim main */
/* Começo cartão sobre nós main*/
.cartao {
    background-image: linear-gradient(#3e489e, rgb(56, 101, 168));
    overflow: hidden;
    border-radius: 10px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 5rem;
    justify-self: center;
    position: relative;
}
.cartao:hover {
    background-image: linear-gradient(rgba(6, 69, 243, 0.925), rgba(20, 2, 48, 0.479));
}
.cartao:hover .content {
    padding: 20px;
    height: 225px; /* A justa o tamanho do card*/
    transform: translateY(0px);
}
.imagem {
    background-image: url('imagens/bg-rh.jpg');
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    transition: all .5s;
}
.cartao:hover .imagem {
    opacity: 1;
    width: 500px;
}
aside p {
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}
.content {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(30px);
}
aside h2 {
    font-size: 24px;
}
.imagem p {
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    opacity: .9;
}
span {
    padding: 15px;
    font-size: 28px;
}
/* Fim cartão sobre nós */

/* Sessão 1 */
.sessao1{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(3px);
    margin-top: 5rem;
}
caption {
    font-size: 1.5rem;
}
#tabela-colaboradores {
    border-collapse: collapse;
    background-color: rgba(180, 235, 236, 0.61);
    border-radius: 0px 0px 10px 10px;
}
th{
    padding: .75rem;
    font-size: 20px;
    border-top: 1px solid rgb(1, 10, 56);
    border-bottom: 1px solid gray;
}
td {
    padding: .75rem;
    font-size: 18px;
    text-align: center;
}
tbody >tr:nth-child(odd){
    background-color: rgba(148, 146, 146, 0.719);
}
.visu-doc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: zoom-in;
    float: left;
    position: relative;
    transition: .5s all;
}
.visu-doc:active {
    transform: scale(520%) translate(-75%, -70%);
    border-radius: 5px;
}
caption {
    background-color: black;
    color: white;
    border-radius: 10px 10px 0px 0px ;
}

/* Controle 1 */
.controle {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    width: max-content;
}
input {
    padding: 5px;
    width: 100%;
    accent-color: blue;
}
.atribuicao {
    margin: 1rem;
}
.condicoes {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 1rem auto;
    display: block;
    padding: 4px 1rem;
}

@media (max-width:950px) {
    .hero {
        display: flex;
        flex-direction: column;
    }
    .introducao {
        width: 90%;
    }
    .sessao1 {
        display: flex;
        flex-direction: column;
    }
}