@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
* {
    padding: 0%;
    margin: 0%;
}
body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-evenly;
}
nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
}
nav > ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
header {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
}
h1 {
    text-align: center;
}
header section:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;
}
header section:nth-child(2) div:nth-child(1) {
    width: 90%;
    margin: auto;
}
header section:nth-child(2) div:nth-child(1) p {
    line-height: 1.5rem;
}
header section:nth-child(1) img {
    width: 150px;
    box-shadow: 5px 12px 13px gray;
}
header section:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header section:nth-child(2) div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header section:nth-child(2) div:nth-child(2) button {
    padding: .5rem .7rem ;

}
main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
}
main section:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
main section:nth-child(1) ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
main section:nth-child(1) ul li {
    display: flex;
    width: 300px;
    padding: .3rem;
    border: 1px solid black;
    border-radius: 5px;
}
main section:nth-child(1) ul img {
    width: 100px;
}
main section:nth-child(1) ul h2 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
main section:nth-child(1) ul h3 {
    font-size: 14px;
    margin: .5rem auto;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer ul li {
    margin: auto 2rem;
}