@charset "UTF-8";
/* Animações Header */
nav > ul li{
    transition: all 0.5s;
}
nav > ul li:hover {
    background-color: aliceblue;
    color: rgb(2, 2, 66);
    border-radius: 8px;
}
.vidro {
    transition: all 1s;
}
.vidro:hover {
    backdrop-filter: none;
}

/* Animações quantidades */
.quantidade {
    transition: all 0.5s;
}
.quantidade:hover {
    transform: scale(110%);
    background-color: aliceblue;
    color: black;
} 

/* Animações na Aba 3 */
.aba_3 > img {
    animation: animacao 0.5ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 45%; /* se vai aparecer antes ou não */
}
@keyframes animacao {
    from{
        opacity: 0;
        translate: -100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
