@charset "UTF-8";
/* Animações Header */
nav > ul li{
    transition: all 0.5s;
}
nav > ul li:hover {
    background-color: aliceblue;
    color: rgb(2, 2, 66);
    border-radius: 8px;
}
.vidro {
    transition: all 1s;
}
.vidro:hover {
    backdrop-filter: none;
}

/* Animações quantidades */
.quantidade {
    transition: all 0.5s;
}
.quantidade:hover {
    transform: scale(110%);
    background-color: aliceblue;
    color: black;
} 

/* Animações na Aba 3 */
.aba_3 > img {
    animation: animacao 0.5ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 45%; /* se vai aparecer antes ou não */
}
@keyframes animacao {
    from{
        opacity: 0;
        translate: -100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

/* Animações na aba 4 */
.pessoa_1 {
    animation-name: invisibilidade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
}
.pessoa_2 {
    animation-name: invisibilidade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
}
.pessoa_3 {
    animation-name:invisibilidade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 1;
}
@keyframes invisibilidade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}
