* {
    padding: 0%;
    margin: 0%;
}


.click_effect {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    pointer-events: none;
    border-radius: 50%;
    animation-name: click;
    animation-duration: .6s;
    animation-timing-function: linear;
}
/* @keyframes click {
    0% {
        opacity: 1;
        transform: scale(0.1);
    }
    10% {
        opacity: 1;
        transform: scale(0.2);
    }
    20% {
        opacity: 1;
        transform: scale(0.3);
    }
    30% {
        opacity: 1;
        transform: scale(0.4);
    }
    40% {
        opacity: .9;
        transform: scale(0.5);
    }
    50% {
        opacity: .7;
        transform: scale(0.6);
    }
    60% {
        opacity: .5;
        transform: scale(0.7);
    }
    70% {
        opacity: .3;
        transform: scale(0.8);
    }
    80% {
        opacity: .1;
        transform: scale(0.9);
    }
    90% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
} */