* {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: rgb(44, 44, 58);
}
section {
    border-radius: 10px;
    align-self: center;
    justify-self: center;  
}
main section:nth-child(1){
    background-image: linear-gradient(to right, #6157ff, #ee49fd);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
}
main section:nth-child(2){
    background-image: linear-gradient(to right, #103ce7, #64e9ff);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    transition: all 0.5s;
}
main section:nth-child(3){
    background-image: linear-gradient(to right, #2dfff5, #fff878);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    transition: all 0.5s;
}
main section:nth-child(4){
    background-image: linear-gradient(to right, #ff4066, #fff16a);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    transition: all 0.5s;
}
main section:nth-child(5){
    background-image: linear-gradient(to right, #3730fa, #ddffc9);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    transition: all 0.5s;
}
.content {
    padding: 1.5rem;
}
.saldo:hover {
    background-image:none;
    background-color: black;
    color: white;
}
.investimento:hover {
    background-image:none;
    background-color: black;
    color: white;
}
.opcoes:hover {
    background-image:none;
    background-color: black;
    color: white;
}
.total-despesa:hover {
    background-image:none;
    background-color: black;
    color: white;
}
.mais:hover {
    background-image:none;
    background-color: black;
    color: white;
}
ul {
    list-style: none;
}
li{
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
p {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
}
h1, h2 {
    margin-bottom: 1rem;
    text-align: center;
}
@media (max-width:500px) {
    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        background-color: rgb(44, 44, 58);
    }
    section {
        width: 80%;
        border-radius: 10px;
        align-self: center;
        justify-self: center;  
    }
    li{
        cursor: pointer;
        margin: 20px;
        text-align: center;
    }
    
}